@charset "ISO-8859-1";

.middle-column {
    padding: 20px;
    color:gray;
}

.header-row{
    color:hotpink;
}

body {
    background-color:antiquewhite;
    padding: 10px;
}
.first-column{
    padding: 10px;
    color:hotpink;
    font-weight: bold;
}
table{
    font-size: large;
    background-color: rgba(255, 255, 255, 0.9);
}

li {
    padding: 10px;
}

.first-column-summer{
    padding: 10px;
    color:red;
    font-weight: bold;
}

.first-column-autumn{
    padding: 10px;
    color:rgb(124, 52, 1);
    font-weight: bold;
}