@charset "ISO-8859-1";

.middle-column {
    padding: 20px;
    color:gray;
}

.header-row{
    color:hotpink;
}

body {
    background-color:antiquewhite;
    padding: 10px;
}
.first-column{
    padding: 10px;
    color:hotpink;
    font-weight: bold;
}